<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="container" ng-controller="FriendController as ctrl">


 <div class="row">
   <div class="table-response">
   <table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>FriendID</th>
							<th>IsOnLine</th>
							<th>Status</th>
							<th>UserID</th>							
						</tr>
					</thead>
					<tbody>
					
							<tr ng-repeat="friend in ctrl.friends" class="success" ng-hide="user.id==currentUser.id">
								<td>{{friend.id}}</td>
								<td>{{friend.friendID}}</td>
								<td>{{friend.IsOnline}}</td>
								<td>{{friend.status}}</td>
								<td>{{friend.userID}}</td>															
													
				<td><button ng-hide="friend.status=='A' || friend.status=='R'" type="button" ng-click="ctrl.friendaccept(friendapplied)" class="btn btn-warning btn-sm">ACCEPT</button></td>
				
                <td><button ng-hide="friend.status=='A' || friend.status=='R'" type="button" ng-click="ctrl.friendreject(friendapplied)" class="btn btn-danger">REJECT</button></td>
					</tr>
</tbody>
</table>
   </div>
 </div>


</div>



</body>
</html>