<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div>
<div ng-show="currentUser==''">
<div class="alert alert-danger fade in">
<div>
You are not logged in.Please login<a href="#/login">Here</a>to create a job
</div>
<div>
If you have not yet registered, you can register<a href="#/register">Here</a>
</div>
</div>
</div>
<div ng-hide="currentUser==''">
<div class="generic-container" ng-controller="JobController as ctrl">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
<label>Please fill the job details...</label>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-label" for="title">Job Title</label>
<div class="col-md-7">
<input type="text" ng-model="ctrl.job.title" id="title" class="title form-controlinput-sm" placeholder="Enter job title" required />
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-label" for="qualification">Qualification</label>
<div class="col-md-7">
<input type="text" ng-model="ctrl.job.qualification" id="qualification" class="company form-controlinput-sm" placeholder="Enter Qualification for Job" required />
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-label" for="description">Job Details</label>
<div class="col-md-7">
<textarea rows="10"cols="100" ng-model="ctrl.job.description" id="description" class="job_Detail form-controlinput-sm" placeholder="Enter the Job Details" required ng-minlength="10" ng-maxlength="300">
</textarea>
</div>
</div>
</div>

<div class="row">
<div class="form-actions floatRight">
<input type="submit" value="Create Job" class="btn btn-primary btn-sm">
<button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm">Reset Job</button>
</div>
</div>

</form>
</div>
</div>
</div>
</body>
</html>